<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="slick/slick.css"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>  -->
        <script src="/static/base.js"></script>  
        <title>CSET 180</title>
    </head>

    <header class="header">
        <nav class="nav">
            <div class="row">
                <h1 class="stated">E-COMMERCE CARS</h1>
                <ul class="navigation">
                    <li class="navlink"><a href="/" class="navlink1" style="color: white;">Home</a></li>
                    <li class="navlink"><a href="/mercedes" class="navlink1">Mercedes-Benz</a></li>
                    <li class="navlink"><a href="/bmw" class="navlink1">BMW</a></li>
                    <li class="navlink"><a href="/vw" class="navlink1">Volkswagon</a></li>
                    <li class="navlink"><a href="/reviewpage" class="navlink1">Reviews</a></li>
                    <li class="navlink"><a href="/login" class="navlink1">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="landing-page">
        <div class="landing-image">
            <img src="/static/images/headerpic.jpeg" alt="">
        </div>
        <div class="filter"></div>
        <div class="landing-title">
            <div>
                <h1>
                    Brick and Cyber
                </h1>
                <p>
                    Buy new and used vehicles in this one-stop shop. Good credit, bad credit, no credit, you will drive off with a quality vehicle you can be proud of with a low payment.
                </p>
            </div>
        </div>
    </section>
    <section class="customer">
        <div class="customer-block">
            {% if curr is defined %}
                <h1>Welcome, {{ curr }}!</h1>
            {% else %}
                <h1>Welcome!</h1>
            {% endif %}
        </div>
    </section>

    {% block body %}
    {% endblock %}






    <footer class="footer">
        <div class="foot-block">
            <div class="foot-details">
                <div class="foot-left">
                    <div class="foot-about">
                        <h3>About E-Commerce Cars</h3>
                        <p>
                            Our mission is to earn our Customer's loyalty by delivering sales and service experiences with high quality, excellent value, integrity and enthusiasm. We will function as a team, work ethically, and focus on meeting and striving to exceed the expectations of our Customers.
                        </p>
                    </div>
                </div>
                <div class="foot-right">
                    <div class="quick-links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="https://www.capitalone.com/auto-financing/">Ask About Financing</a></li>
                            <li><a href="/chat">Chatroom</a></li>
                            <li><a href="/reviewpage">Reviews</a></li>
                            <li><a href="/returns">Returns</a></li>
                        </ul>
                    </div>
                    <div class="subscribe">
                        <h3>Subscribe to Our Newsletter</h3>
                        <div class="newsletter">
                            <input type="text" placeholder="Enter Email" name="email">
                            <button class="enter-news">Send</button>
                        </div>
                        <div class="media-icons">
                            <h3>Follow Us</h3>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-credit">
            <div class="credit">
                <p>Copyright © 2021 All rights reserved | This template was recreated by Moisés Mañón.</p>
            </div>
        </div>
    </footer>        
</html>