{% extends "base.html" %}
{% block body %}
<br>
<section class="chat-area">
    <form action="/chatroom" method="post" class="aform4">
    <div class="chatroom-area">
        Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br> Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br> Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br> Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br> Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br> Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br> Hello, user<br>

    user id, message, datetime<br>
    vendor id, message, datetime<br>
    </div><br>
    <textarea maxlength="250" placeholder="Write something.." name="message" style="
        height: 45px;
        padding: 10px;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 4px;" required></textarea><br>
    <input type="submit" name="search" class="aform2" value="Submit">
    </form>
</section><br>
{% endblock %}