{% extends "base.html" %}
{% block body %}

    <div class="searchForm">
            <h3>Search Products</h3>
            <form action="/search" method="GET" class="aform">
                <p>Search by name:</p>
                <input type="text" name="nsearch" class="search" placeholder="Search by name">
                <input type="submit" name="nsearch" class="submit" value="Search">
            </form><br>

            <form action="/dsearch" method="GET" style="display: flex; flex-direction: column;">
                <p>Search by description:</p>
                <input type="text" name="dsearch" class="search" placeholder="Search by description">
                <input type="submit" name="search" class="submit" value="Search">
            </form><br>

            <form action="/vsearch" method="GET" style="display: flex; flex-direction: column;">
                <p>Search by vendor:</p>
                <input type="text" name="vsearch" class="search" placeholder="Search by vendor">
                <input type="submit" name="search" class="submit" value="Search">
            </form>
        </div>
    </div>
<div>
    <form action="/main" method="GET">
    <button type="submit" >Clear search</button>
    </form>
</div>

<section class="products">
    {% for y in name %}
    <div class="proddiv">
         <li><b>Title:</b> {{ y[3] }}</li>
        <li><b>Category:</b> {{ y[8] }}</li>
        <li><b>Description:</b> {{ y[4] }}</li>
        <li><b>Price:</b> ${{ y[7] }}</li>
        <li><b>Discounted Price:</b> ${{ '%0.2f' % y[13]|float }}</li>
        {% if y[13] > 0 %}
            {% set disc_price = y[7]-y[13] %}
            <li><b>Amount Saved:</b> ${{ '%0.2f' % disc_price|float }}</li>
        {% else %}
            <li><b>Amount Saved:</b> $0 </li>
        {% endif %}
        <img src="{{ y[9] }}" alt="" style="width: 704px; height: 50%;">
            <form action="setcart" method="post">
                <input type="button" value="Add to cart" title="Add to cart" name="addCart">
            </form>
    </div>
        {% endfor %}

        {% for y in allproducts %}
    <div class="proddiv">
        <li><b>Title:</b> {{ y[3] }}</li>
        <li><b>Category:</b> {{ y[8] }}</li>
        <li><b>Description:</b> {{ y[4] }}</li>
        <li><b>Price:</b> ${{ y[7] }}</li>
        <li><b>Discounted Price:</b> ${{ '%0.2f' % y[13]|float }}</li>
        {% if y[13] > 0 %}
            {% set disc_price = y[7]-y[13] %}
            <li><b>Amount Saved:</b> ${{ '%0.2f' % disc_price|float }}</li>
        {% else %}
            <li><b>Amount Saved:</b> $0 </li>
        {% endif %}
        <img src="{{ y[9] }}" alt="" style="width: 704px; height: 50%;">
            <form action="setcart" method="post">
                <input type="button" value="Add to cart" title="Add to cart" name="addCart">
            </form>
    </div>    
        {% endfor %}
</section>
<section>
    <p>Cart:</p>
</section>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
{% endblock %}
