{% extends "base.html" %}
{% block body %}

<form action="/main" method="post">
    <button type="submit">Back to home page</button>
</form><br>

<section class="products">
{% for y in placed_order %}
<div class="proddiv">
    <div class="prodformdiv1">
        <p><b>Product ID:</b> {{ y[0] }}</p>
        <p><b>ID:</b>{{ y[1] }}</p>
        <p><b>Vendor ID: </b> {{ y[2] }}</p>
        <p><b>Order ID: </b> {{ y[3] }}</p>
        <p><b>Vendor ID:</b> {{ y[2] }}</p>
        <p><b>Title:</b> {{ y[3] }}</p>
        <p><b>Description:</b> {{ y[4] }}</p>
        <p><b>Warranty Period in days:</b> {{ y[5] }}</p>
        <p><b>Regular Price:</b> {{ y[7] }}</p>
        <p><b>Discounted Price:</b> {{ y[13] }}</p>
        <p><b>Category:</b> {{ y[8] }}</p>
        <p><b>Color:</b> {{ y[10] }}</p>
        <p><b>Image:</b></p><img src="{{ y[11] }}" id="review" alt="" style="width: 704px; height: 50%;">
            <div id="reviewtext">
                <form action="/review">
                    <input type="text" name="reviewtext">
                </form>
            </div>
    </div>
</div>

{% endfor %}
</section>

    <form action="/main" method="post">
        <button type="submit">Back to home page</button>
    </form><br>


    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
{% endblock %}