{% extends "base.html" %}
{% block body %}

<section class="main">
    <form action="/main" method="post">
    <button type="submit">Back to home page</button>
    </form><br>
</section><br>

<section class="products">
{% for y in placed_order %}
<div class="proddiv">
    <div class="prodformdiv1">
        <p><b>Product ID:</b> {{ y[0] }}</p>
        <p><b>ID:</b>{{ y[1] }}</p>
        <p><b>Vendor ID: </b> {{ y[2] }}</p>
        <p><b>Order ID: </b> {{ y[3] }}</p>
        <p><b>Vendor ID:</b> {{ y[2] }}</p>
        <p><b>Title:</b> {{ y[3] }}</p>
        <p><b>Description:</b> {{ y[4] }}</p>
        <p><b>Warranty Period in days:</b> {{ y[5] }}</p>
        <p><b>Regular Price:</b> {{ y[7] }}</p>
        <p><b>Discounted Price:</b> {{ y[13] }}</p>
        <p><b>Category:</b> {{ y[8] }}</p>
        <p><b>Color:</b> {{ y[10] }}</p>
        <p><b>Image:</b></p><img src="{{ y[11] }}" id="review" onclick="openReviewText()" alt="pic id code" style="width: 612px; height: 50%;" role="button">
            <div id="reviewtext" class="prodformdiv1">
                <form action="/review" class="orderform" method="post">
                    <input type="text" value="{{ y.title }}" name="title" style="display:none">
                    <input type="text" name="reviewtext" class="reviewtext"><br>
                    <input type="range" value="1" max="5" step="1" class="rating" oninput="this.style.setProperty('--value', this.value)" name="rating">
                    <input type="submit" value="Submit Review">
                </form>
            </div>
    </div>
     {% set reviews = false %}
        <h4>Your Reviews:</h4>
        {% for c in car_review %}
            {% if c.title == y.title %}
                <p>{{ c.description }}</p>
                <p>{{ c.rating }} stars!</p><br>
            {% endif %}
        {% set reviews = true %}

        {% endfor %}

            {% if reviews == false %}
                <p>No reviews for this product</p>
            {% endif %}
</div>

{% endfor %}
</section><br>

<form action="/main" method="post">
    <button type="submit">Back to home page</button>
</form><br>


<section class="logout">
    <form action="/logout" method="POST">
    <button type="submit">Logout</button>
    </form>
</section><br>
{% endblock %}