{% extends "base.html" %}
{% block body %}
<br>
<section class="review">
    <div class="review_area">
        <div class="row">
            <div class="col-lg-6">
                <div class="left_sec">
                    <h3>What Our Customers Are Saying</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right_sec">
                    <h4>Help us improve our products</h4>
                    <div id="carouselExampleIndicators" class="carousel slide test_carousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="user1 active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="user2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="user3"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            
                            <p>{{ allreviews[0][9] }}</p>
                            <p>{{ allreviews[0][11] }}</p>
                            <h5>{{ allreviews[0][2] }} {{ allreviews[0][3] }}</h5>
                            
                          </div>
                          
                          <div class="carousel-item">
                            
                            <p>{{ allreviews[2][9] }}</p>
                            <p>{{ allreviews[2][11] }}</p>
                            <h5>{{ allreviews[2][2] }} {{ allreviews[2][3] }}</h5>
                            
                          </div>
                          
                          <div class="carousel-item">
                            
                            <p>{{ allreviews[3][9] }}</p>
                            <p>{{ allreviews[3][11] }}</p>
                            <h5>{{ allreviews[3][2] }} {{ allreviews[3][3] }}</h5>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section><br>





 <div class="mainfilter1">
    <h3 class="aform4">Filter Reviews</h3><br>
    <form action="/reviewpage" method="POST" class="aform4">

        <label for="timereview" style="padding-left: 13%"><b>Time:</b></label>
        <select id="timereview" name="timereview" class="aform2">
            <option value="none" selected="selected">none</option>
            <option value="old">Oldest to newest</option>
            <option value="new">Newest to oldest</option>
        </select><br>

        <label for="ratingreview" style="padding-left: 13%"><b>Rating:</b></label>
        <select id="ratingreview" name="ratingreview" class="aform2">
            <option value="none" selected="selected">none</option>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select><br>
        <input type="submit" name="search" class="aform2" value="Search">
    </form>
</div><br>


<div class="mainfilter1">
<h3 class="aform4">All reviews</h3>
    {% for r in allreviews %}
    <p>{{ r.title }}</p>
    <p>Review: {{ r.description }}</p>
    <p>{{ r.rating }} stars</p>
    <p>{{ r.first_name }} {{ r.last_name }} </p> <br>
    {% endfor %}

    {% for rf in reviewfilter %}
    <p>{{ rf.title }}</p>
    <p class="rev_container__content">Review: {{ rf.description }}</p>
    <p class="rev_container__content">{{ rf.rating }} stars</p>
    <p class="rev_name">{{ rf.first_name }} {{ rf.last_name }} </p> <br>
    {% endfor %}
</div>

<form action="/main" method="post">
    <button type="submit">Back to home page</button>
</form><br>


<section class="logout">
    <form action="/logout" method="POST">
    <button type="submit">Logout</button>
    </form>
</section><br>
{% endblock %}

